<h1>Albums for: {{artistName}}</h1>

{{!-- <div class="albums-container">

  {{#each albums}}
   <img class="albums-information__image" src="{{albums.images.[0].url}}" alt="artist-img">
    <h2 class="albums-information__name">{{albums.name}}</h2>
  {{/each}}
  
</div> --}}